Repository btuttle-fnba-testing-org/codeowners, changes with the owners that .github/CODEOWNERS names for each.
All owners: @btuttle-fnba, @btuttle-fnba-testing-org/rootFiles, @btuttle-fnba-testing-org/subdirFiles, @benjamin-tenjamin, @lvanatta-fnba, @aherard-fnba

Update file1
  file1
Owners: @btuttle-fnba-testing-org/rootFiles

edit README.md
  README.md
Owners: @benjamin-tenjamin, @lvanatta-fnba, @aherard-fnba

Update file1
  file1
Owners: @btuttle-fnba-testing-org/rootFiles

Test initial workflow
  .github/reviewers.yml
  .github/workflows/auto_request_review.yml
  .gitignore
  codeowners.iml
Owners: @btuttle-fnba

Whitespace commit
  .gitignore
Owners: @btuttle-fnba

Add workflow_dispatch to workflow
  .github/workflows/auto_request_review.yml
Owners: @btuttle-fnba

add workflow_dispatch and fix branch
  .github/workflows/auto_request_review.yml
Owners: @btuttle-fnba

Update config to look for config not locally
  .github/workflows/auto_request_review.yml
Owners: @btuttle-fnba

Fix indentation error
  .github/reviewers.yml
  .github/workflows/auto_request_review.yml
Owners: @btuttle-fnba

Whitespace commit
  .gitignore
Owners: @btuttle-fnba

Whitespace into README
  README.md
Owners: @benjamin-tenjamin, @lvanatta-fnba, @aherard-fnba

Add pull request workflow
  .github/reviewers.yml
  .github/workflows/auto_pull_request.yml
Owners: @btuttle-fnba

.github/CODEOWNERS:

*	@btuttle-fnba

/file* @btuttle-fnba-testing-org/rootFiles
/*/file* @btuttle-fnba-testing-org/subdirFiles

/README.md @benjamin-tenjamin @lvanatta-fnba @aherard-fnba
/protected @btuttle-fnba
